<template>
  <div class="aside">
    <el-menu
      :router=true
      default-active="$route.path"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
      <el-menu-item index="home">
        <i class="el-icon-s-home"></i>
        <span slot="title">首页</span>
      </el-menu-item>
      <el-menu-item index="goods">
        <i class="el-icon-s-shop"></i>
        <span slot="title">商品</span>
      </el-menu-item>
      <el-menu-item index="orders">
        <i class="el-icon-s-order"></i>
        <span slot="title">订单管理</span>
      </el-menu-item> 
    </el-menu>
  </div>
</template>

<script>
export default {
name:'aside',
  methods: {
    handleOpen() {},
    handleClose() {}
  }
};
</script>

<style scoped>

</style>