<template lang='html'>
    <div class="goods">
    <el-button type="primary" @click="dialogFormVisible = true" icon="el-icon-plus">添加商品</el-button>
          <!-- 填写信息区域 -->
          <el-dialog title="添加商品" :visible.sync="dialogFormVisible">
            <el-form :label-position="labelPosition" label-width="80px" :model="form">
              <el-form-item label="名称" >
                <el-input v-model="form.name" ></el-input>
              </el-form-item>
              <el-form-item label="价格" >
                <el-input v-model="form.price" type="number"></el-input>
              </el-form-item>
              <el-form-item label="库存">
                <el-input v-model="form.stock" type="number"></el-input>
              </el-form-item>
              <el-form-item label="图片">
                <el-upload
                    class="avatar-uploader"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取 消</el-button>
              <el-button type="primary" @click="onSubmit">确 定</el-button>
            </div>
          </el-dialog>


        <el-table
          :data="tableData"
          style="width: 100%;margin-top:10px;">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="商品头像">
                  <!-- <span>{{ props.row.pic }}</span> -->
                  <el-image style="width: 80px; height: 100px" :src="props.row.pic"></el-image> 
                </el-form-item>
                <el-form-item label="商品名称">
                  <span>{{ props.row.name }}</span>
                </el-form-item>
                <el-form-item label="商品 ID">
                  <span>{{ props.row.id }}</span>
                </el-form-item>
                <el-form-item label="商品价格">
                  <span>{{ props.row.price }}</span>
                </el-form-item> 
                <el-form-item label="商品库存">
                  <span>{{ props.row.stock }}</span>
                </el-form-item>
                <el-form-item label="商品状态">
                  <span>{{ props.row.status }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
            label="商品 ID"
            prop="id">
          </el-table-column>
          <el-table-column
            label="商品名称"
            prop="name">
          </el-table-column>
          <el-table-column
            label="状态"
            prop="status">
          </el-table-column>
              <el-table-column
              fixed="right"
              label="操作"
              width="100">
              <template slot-scope="scope">
                <el-button @click="handleClick(scope.row)" type="text" size="small">修改状态</el-button>
              </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
import { getGoodsList } from "@/api/api";
export default {
  name: "goods",
  created() {
    this.initData();
  },
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      formLabelWidth: '120px',
      labelPosition: 'right',
      form: {
        name: '',
        price: '',
        stock: ''
      },
      imageUrl: ''
    };
  },
  methods: {
    initData() {
      getGoodsList({
        limit: 1,
        count: 10,
        page:1
      }).then(res => {
        console.log(res.data.data[0]);
        this.tableData = res.data.data
      });
    },
    handleClick(row) {
      var order_id = row.id
        console.log(order_id);
         this.$message('Id为'+order_id);
      },
      handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
      },
      beforeAvatarUpload(file) {
          const isLt2M = file.size / 1024 / 1024 < 2;
          if (!isLt2M) {
            this.$message.error('上传头像图片大小不能超过 2MB!');
          }
          return isLt2M;
        },
      onSubmit(){
        this.dialogFormVisible=false;
        var data = {};
            data.name = this.form.name;
            data.price = this.form.price; 
            data.stock = this.form.stock;
        console.log(data)
      }
  }
};
</script>
<style lang='css'>
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
 .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
 

