<template lang='html'>
    <div class="home">
      <el-button type="primary" @click="dialogFormVisible = true" icon="el-icon-edit">修改店铺信息</el-button>
      <!-- 填写信息区域 -->
      <el-dialog title="修改店铺信息" :visible.sync="dialogFormVisible">
        <el-form :model="form">
           <el-form-item label="商店名称">
                <el-input v-model="form.name" disabled="true"></el-input>
            </el-form-item>
             <el-form-item label="商店头像">
                  <el-upload
                    class="upload-demo"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :file-list="form.pic"
                    list-type="picture">
                    <el-button size="small" type="primary">重新上传</el-button>
                  </el-upload>
            </el-form-item>
           <el-form-item label="店铺地址" >
                <el-input v-model="form.address"  disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
                <el-input v-model="form.phone"></el-input>
            </el-form-item>
            <el-form-item label="店铺标语">
                <el-input v-model="form.slogan"></el-input>
            </el-form-item>
            <el-form-item label="店铺简介">
                <el-input v-model="form.introduce"></el-input>
            </el-form-item>
            <el-form-item label="店铺标签">
               <el-tag
                  :key="tag"
                  v-for="tag in label"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(tag)">
                  {{tag}}
                </el-tag>
                <el-input
                  class="input-new-tag"
                  v-if="inputVisible"
                  v-model="inputValue"
                  ref="saveTagInput"
                  size="small"
                  @keyup.enter.native="handleInputConfirm"
                  @blur="handleInputConfirm"
                >
                </el-input>
                <el-button v-else class="button-new-tag" size="small" @click="showInput">+ 新增</el-button>
            </el-form-item>
            <el-form-item label="店铺banner">
              <el-carousel :interval="3000" arrow="always">
                <!-- <el-carousel-item v-for="item in bannerList" :key="item">
                <el-image :src="item"></el-image>
                </el-carousel-item> -->
              </el-carousel>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="onSubmit">确 定</el-button>
        </div>
      </el-dialog>
        <el-form ref="form" :model="form" label-width="80px" style="margin-top:20px;">
            <el-form-item label="商店名称">
                <el-input v-model="form.name"  ></el-input>
            </el-form-item>
             <el-form-item label="商店头像">
                  <div class="block">
                    <el-image :src="form.pic" ></el-image>
                </div>
            </el-form-item>
            <el-form-item label="店铺地址">
                <el-input v-model="form.address"  ></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
                <el-input v-model="form.phone" ></el-input>
            </el-form-item>
            <el-form-item label="店铺标语">
                <el-input v-model="form.slogan" ></el-input>
            </el-form-item>
            <el-form-item label="店铺简介">
                <el-input v-model="form.introduce " ></el-input>
            </el-form-item>
            <el-form-item label="店铺标签">
               <el-tag
                  :key="tag"
                  v-for="tag in label"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(tag)">
                  {{tag}}
                </el-tag>
            </el-form-item>
            <el-form-item label="店铺banner">
              <el-carousel :interval="3000" arrow="always">
                <el-carousel-item v-for="item in 4" :key="item">
                <!-- <el-image ></el-image> -->
                </el-carousel-item>
              </el-carousel>
            </el-form-item>
         </el-form>
    </div>
</template>
<script>
import { getStorehome } from "@/api/api";
import { changeStore } from "@/api/api";
export default {
      created() {
        this.getStorehome();
      },
    name:'home',
     data() {
      return {
        dialogFormVisible: false,
        formLabelWidth: '120px',
        form: [],
        label:[],
        inputVisible: false,
        inputValue: ''
      }
    },
     methods: {
      onSubmit() {
        var data = {};
        data.phone = this.form.phone;
        data.slogan = this.form.slogan;
        data.introduce=this.form.introduce;
        var label = this.label;
        data.label = this.acTiveArrStringFun(label)
        changeStore({
          data:data
          }).then(res=>{
          console.log(res);
        })
        //关闭弹窗
        this.dialogFormVisible=false;
        },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      getStorehome(){
         getStorehome().then(res => {
        console.log(res.data);
        this.form = res.data;
        var oldlabel = res.data.label.split(";")
        this.label = oldlabel
      });
      },
       handleClose(tag) {
        this.label.splice(this.label.indexOf(tag), 1);
      },

      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },

      handleInputConfirm() {
        let inputValue = this.inputValue;
        if (inputValue) {
          this.label.push(inputValue);
        }
        this.inputVisible = false;
        this.inputValue = '';
      },
     //转换数组
      acTiveArrStringFun(obj) {
              var arr = [];
              if (obj != null && obj.length != 0) {
                  for (var i = 0; i < obj.length; i++) {
                      arr.push(obj[i]);
                  }
              }
              return arr.toString();
      }
    }
}
</script>
<style lang='css'>

  .block{
      width: 240px;
      height: 180px;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }.el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
</style>