<template lang='html'>
    <div class="orders">
        <el-dialog title="填写信息" :visible.sync="dialogFormVisible">
         <el-steps :active="active" finish-status="success">
            <el-step title="提交订单"></el-step>
            <el-step title="诊断"></el-step>
            <el-step title="处方"></el-step>
          </el-steps>

        <el-form :model="form" v-if="active === 1">
          <h1 class="dialog-title">动物基础信息调查表</h1>
          <el-row style="margin-top : 20px;">
            <el-col :span="12">
              <el-form-item label="主人姓名" :label-width="formLabelWidth">
                <el-input v-model="form.master_name" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="地址" :label-width="formLabelWidth">
                <el-input v-model="form.address" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row >
           <el-col :span="12">
              <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="form.phone" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row >
           <el-col :span="12">
              <el-form-item label="动物名称" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="种类" :label-width="formLabelWidth">
                <el-input v-model="form.type" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row >
           <el-col :span="12">
              <el-form-item label="品种" :label-width="formLabelWidth">
                <el-input v-model="form.varieties" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="年龄" :label-width="formLabelWidth">
                <el-input v-model="form.age" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row >
           <el-col :span="12">
              <el-form-item label="性别" :label-width="formLabelWidth">
                <el-input v-model="form.gender" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="颜色" :label-width="formLabelWidth">
                <el-input v-model="form.color" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
            <el-row >
           <el-col :span="12">
              <el-form-item label="检查人员" :label-width="formLabelWidth">
                <el-input v-model="form.inspectors" autocomplete="off"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="日期" :label-width="formLabelWidth">
                  <el-date-picker
                          v-model="form.date"
                          align="right"
                          type="date"
                          placeholder="选择日期"
                          :picker-options="formdate">
                  </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <h2>基础信息（basic information）</h2>
             <el-form-item label="动物来源：">
                   <el-radio-group v-model="form.Animal_origin">
                       <el-radio :label="1">繁殖场</el-radio>
                       <el-radio :label="2">宠物商店</el-radio>
                       <el-radio :label="3">家庭商店</el-radio>
                       <el-radio :label="4">流浪</el-radio>
                   </el-radio-group>

               </el-form-item>
          <el-form-item label="生活环境及方式：">
            <el-checkbox-group v-model="form.environment">
              <el-checkbox label="平房"></el-checkbox>
              <el-checkbox label="楼房"></el-checkbox>
              <el-checkbox label="室内"></el-checkbox>
              <el-checkbox label="室外"></el-checkbox>
              <el-checkbox label="经常散步" ></el-checkbox>
              <el-checkbox label="每天运动" ></el-checkbox>
              <el-checkbox label="有其他宠物" ></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="免疫情况：">
            <el-checkbox-group v-model="form.Immunization">
              <el-checkbox label="每年一次" name="type"></el-checkbox>
              <el-checkbox label="不完整" name="type"></el-checkbox>
              <el-checkbox label="其他" name="type"></el-checkbox> 
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="体内驱虫：">
            <el-checkbox-group v-model="form.indeworming">
               <el-checkbox label="每月一次" name="type"></el-checkbox>
              <el-checkbox label="3月一次" name="type"></el-checkbox>
              <el-checkbox label="半年一次" name="type"></el-checkbox>
              <el-checkbox label="无" name="type"></el-checkbox>
              <el-checkbox label="其他" name="type"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
           <el-form-item label="体外驱虫：">
            <el-checkbox-group v-model="form.outdeworming">
               <el-checkbox label="每月一次" name="type"></el-checkbox>
              <el-checkbox label="3月一次" name="type"></el-checkbox>
              <el-checkbox label="半年一次" name="type"></el-checkbox>
              <el-checkbox label="无" name="type"></el-checkbox>
              <el-checkbox label="其他" name="type"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="食物来源：">
            <el-checkbox-group v-model="form.food_sources">
              <el-checkbox label="猫/狗粮" name="type"></el-checkbox>
              <el-checkbox label="罐头" name="type"></el-checkbox>
              <el-checkbox label="自制食物" name="type"></el-checkbox> 
            </el-checkbox-group>
          </el-form-item>
          
          <el-form-item label="饲喂频率" :label-width="formLabelWidth">
            <el-input v-model="form.frequency" autocomplete="off"><span>次/日</span></el-input>
          </el-form-item>
          <el-form-item label="食欲：">
            <el-checkbox-group v-model="form.appetite" >
              <el-checkbox label="过旺" name="type"></el-checkbox>
              <el-checkbox label="正常" name="type"></el-checkbox>
              <el-checkbox label="减退" name="type"></el-checkbox>
              <el-checkbox label="废绝" name="type"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="排便：">
            <el-checkbox-group v-model="form.defecation">
              <el-checkbox label="量正常" name="type"></el-checkbox>
              <el-checkbox label="多" name="type"></el-checkbox>
              <el-checkbox label="少" name="type"></el-checkbox>
              <el-checkbox label="无" name="type"></el-checkbox>
              <el-checkbox label="黄/棕/褐" name="type"></el-checkbox>
              <el-checkbox label="黑" name="type"></el-checkbox>
              <el-checkbox label="红" name="type"></el-checkbox>
              <el-checkbox label="成型" name="type"></el-checkbox>
              <el-checkbox label="糊状" name="type"></el-checkbox>
              <el-checkbox label="水样" name="type"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
           <el-form-item label="排尿：">
            <el-checkbox-group v-model="form.micturition">
              <el-checkbox label="量正常" name="type"></el-checkbox>
              <el-checkbox label="多" name="type"></el-checkbox>
              <el-checkbox label="少" name="type"></el-checkbox>
              <el-checkbox label="无" name="type"></el-checkbox>
              <el-checkbox label="尿频" name="type"></el-checkbox>
              <el-checkbox label="尿通" name="type"></el-checkbox>
              <el-checkbox label="尿淋漓" name="type"></el-checkbox>
              <el-checkbox label="淡黄" name="type"></el-checkbox>
              <el-checkbox label="黄" name="type"></el-checkbox>
              <el-checkbox label="深黄" name="type"></el-checkbox> 
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="过敏史：">
              <el-input
                type="textarea"
                :autosize="{ minRows: 2, maxRows: 4}"
                placeholder="请输入内容"
                v-model="form.allergy">
              </el-input>
          </el-form-item>  
        </el-form>

        <el-form :model="form" v-if="active === 2" >
            <h1 class="dialog-title">临床检查表</h1>
            <el-row >
                <el-col :span="12">
                    <el-form-item label="主人姓名" :label-width="formLabelWidth">
                        <el-input v-model="data.master_name" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="宠物姓名" :label-width="formLabelWidth">
                        <el-input v-model="data.name" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row >
                <el-col :span="12">
                    <el-form-item label="日期" :label-width="formLabelWidth">
                        <el-date-picker
                                v-model="data.date"
                                type="date"
                                :picker-options="formdate">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="兽医号" :label-width="formLabelWidth">
                        <el-input v-model="data.num" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row >
                <el-col :span="12">
                    <el-form-item label="宠物种类" :label-width="formLabelWidth">
                        <el-input v-model="data.type" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="性别" :label-width="formLabelWidth">
                        <el-input v-model="data.gender" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row >
                <el-col :span="12">
                    <el-form-item label="年龄" :label-width="formLabelWidth">
                        <el-input v-model="data.age" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="病例号" :label-width="formLabelWidth">
                        <el-input v-model="data.no" autocomplete="off"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <h2>临床检查：（clinical examination）</h2>
            <el-row>
                <el-col :span="6">
                    <el-input v-model="data.weight"  placeholder="体重（Kg）" autocomplete="off"></el-input>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="data.temperature"  placeholder="体温（℃）" autocomplete="off"></el-input>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="data.condition"  placeholder="体况（BCS）" autocomplete="off"></el-input>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="data.nine"  placeholder="（9/9）" autocomplete="off"></el-input>
                </el-col>
            </el-row>
            <el-form-item label="意识水平：" style="margin-top: 20px;">
                <el-radio-group v-model="data.consciousness">
                    <el-radio :label="1">警觉</el-radio>
                    <el-radio :label="2">正常</el-radio>
                    <el-radio :label="3">沉郁</el-radio>
                    <el-radio :label="4">反应迟钝（呆滞）</el-radio>
                    <el-radio :label="5">昏睡</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="行为：" style="margin-top: 20px;">
                <el-radio-group v-model="data.behavior">
                    <el-radio :label="1">温顺/友善</el-radio>
                    <el-radio :label="2">放松</el-radio>
                    <el-radio :label="3">紧张/害怕</el-radio>
                    <el-radio :label="4">顺从性差</el-radio>
                    <el-radio :label="5">有攻击性</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="身体姿势：" style="margin-top: 20px;">
                <el-radio-group v-model="data.posture">
                    <el-radio :label="1">正常</el-radio>
                    <el-radio :label="2">共济失调</el-radio>
                    <el-radio :label="3">头倾斜</el-radio>
                    <el-radio :label="4">角弓反张</el-radio>
                    <el-radio :label="5">不能站立</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="耳    检：" style="margin-top: 20px;">
                <el-radio-group v-model="data.ear_examination">
                    <el-radio :label="1">可视耳道干净清洁，无异味</el-radio>
                    <el-radio :label="2">耳道内有黑/褐/黄色分泌物，有异味 </el-radio>
                    <el-radio :label="3">其他</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="眼睛检查：" style="margin-top: 20px;">
                <el-radio-group v-model="data.eye_examintion">
                    <el-radio :label="1">双眼水润清亮，无大量分泌物</el-radio>
                    <el-radio :label="2">双眼有大量水/粘液/脓性分泌物 </el-radio>
                    <el-radio :label="3">其他</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="鼻    头：" style="margin-top: 20px;">
                <el-radio-group v-model="data.nose">
                    <el-radio :label="1">湿润</el-radio>
                    <el-radio :label="2">干燥 </el-radio>
                    <el-radio :label="3">水样鼻涕</el-radio>
                    <el-radio :label="4">脓样鼻涕</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="黏膜颜色：" style="margin-top: 20px;">
                <el-radio-group v-model="data.mucosal">
                    <el-radio :label="1">淡粉</el-radio>
                    <el-radio :label="2">苍白 </el-radio>
                    <el-radio :label="3">发绀</el-radio>
                    <el-radio :label="4">黄染</el-radio>
                    <el-radio :label="5">潮红</el-radio>
                    <el-radio :label="6">充血</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="口    腔：" style="margin-top: 20px;">
                <el-radio-group v-model="data.oral_cavity">
                    <el-radio :label="1">CRT   /S </el-radio>
                    <el-radio :label="2">轻度牙垢 </el-radio>
                    <el-radio :label="3">牙结石严重</el-radio>
                    <el-radio :label="4">牙龈红肿</el-radio>
                    <el-radio :label="5">口臭</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="皮肤被毛：" style="margin-top: 20px;">
                <el-radio-group v-model="data.coat">
                    <el-radio :label="1">未做详细检查，眼观未见明显异常</el-radio>
                    <el-radio :label="2">异常 </el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="腹部触诊：" style="margin-top: 20px;">
                <el-radio-group v-model="data.abdominal">
                    <el-radio :label="1">肠壁、膀胱、肝、肾表面光滑，无明显疼痛，未触及明显异常</el-radio>
                    <el-radio :label="2">其他 </el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="四肢关节：" style="margin-top: 20px;">
                <el-radio-group v-model="data.extremities">
                    <el-radio :label="1">未做详细检查，无显著异常</el-radio>
                    <el-radio :label="2">异常 </el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="听 诊：" style="margin-top: 20px;">
                <el-checkbox-group v-model="data.auscultation">
                    <el-checkbox label="心率"></el-checkbox>
                    <el-checkbox label="脉搏强且一致"></el-checkbox>
                    <el-checkbox label="心律失常"></el-checkbox>
                    <el-checkbox label="心杂音"></el-checkbox>
                    <el-checkbox label="呼吸音清" ></el-checkbox>
                    <el-checkbox label="肠蠕动音无明显异常" ></el-checkbox>
                    <el-checkbox label="蠕动次数" ></el-checkbox>
                    <el-checkbox label="肠蠕动音异常" ></el-checkbox>
                </el-checkbox-group>
                <el-form-item label="主诉：">
                    <el-input
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            placeholder="请输入内容"
                            v-model="data.complaint">
                    </el-input>
                </el-form-item>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="next">确 定</el-button>
        </div>
      </el-dialog>


      <el-row :gutter="20">
          <el-col :span="8">
            <el-date-picker
                  v-model="value2"
                  type="daterange"
                  align="right"
                  unlink-panels
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  :picker-options="pickerOptions">
                </el-date-picker>
        </el-col>
        <el-col :span="4">
          <el-input v-model="input" placeholder="请输入搜索条件"></el-input>
        </el-col>
      <el-col :span="4">
          <el-button type="primary" @click="find"  icon="el-icon-search">搜索</el-button>
        </el-col>
      </el-row>
        <el-table
          :data="tableData"
          style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="订单号">
                  <span>{{ props.row.order_no }}</span>
                </el-form-item>
                <el-form-item label="商品名称">
                  <span>{{ props.row.name }}</span>
                </el-form-item>
                <el-form-item label="数量">
                  <span>{{ props.row.amount }}</span>
                </el-form-item> 
                <el-form-item label="下单时间">
                  <span>{{ props.row.create_time }}</span>
                </el-form-item>
                <el-form-item label="金额">
                  <span>{{ props.row.total/100 }}</span>
                </el-form-item>
                 <el-form-item label="状态">
                  <span>{{ props.row.status }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column
            label="订单号"
            prop="order_no">
          </el-table-column>
          <el-table-column
            label="订单数量"
            prop="total">
          </el-table-column>
          <el-table-column
            label="订单状态"
            prop="status">
          </el-table-column>
              <el-table-column
              fixed="right"
              label="操作"
              width="100">
              <template slot-scope="scope"> 
               <el-button  @click="handleClick(scope.row)" type="primary" icon="el-icon-edit" circle></el-button>
              </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
import { getOrderList } from "@/api/api";
import { queryGoodDetails } from "@/api/api";
import { queryOrderDetails } from "@/api/api";
export default {  
    name:'orders',
    methods: {
      handleClick(row) {
      this.dialogFormVisible = true
      var order_no = row.order_no
        console.log(order_no);
      },
       initData() {
          getOrderList({
            limit: 1,
            page:1,
            start :this.value2[0],
            end :this.value2[1]
          }).then(res => {
            this.tableData = res.data.data
          });
        },
        find(){
          if(this.value2 == ''){
            this.$message.error('请选择时间范围');
          }else{
            if(this.input == ''){
              this.initData()
            }else{ 
                        if(this.input.length==11){
                          //手机
                          var mode =   2
                        }else{
                          var mode = 1 
                        }
                queryOrderDetails({
                  mode : mode ,
                  orderno: this.input,
                  phone:this.input
                }).then(res =>{
                    this.$message.error('请输入正确的搜索条件！')
                  this.tableData = res.data.data
                 
                })
            }
          }
        },
       next() {
        if (this.active++ > 2) this.active = 0;
        if(this.active==1){
            console.log(this.form)
        }else{
            console.log(this.data)
        }

      }
    },

    data() {
      return {
        tableData: [],
      pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }], 
        },
        value2: '',//搜索时间
        input: '',//搜索条件
        dialogFormVisible: false,//弹窗开启
        form: {             //动物基础信息调查表
            Animal_origin:1,//动物来源
            master_name:'',//主人姓名
            address : '' , //地址
            phone :'',//手机
            name: '',//宠物姓名
            type: '',//种类
            varieties: '',//品种
            age :'',//年龄
            gender :'', //性别
            inspectors:'',//检查人员
            date: '',//日期
            color: '',//种类
            environment:[],//生活环境
            Immunization :[],//免疫情况
            indeworming:[],//体内驱虫
            outdeworming :[],//体外驱虫
            food_sources: [], //食物来源
            frequency :'' ,//饲喂频率
            appetite:[],//食欲
            defecation :[],//排便
            micturition:[],//排尿
            allergy :''//病史
        },
          formdate: {//时间选择
              disabledDate(time) {
                  return time.getTime() > Date.now();
              },
              shortcuts: [{
                  text: '今天',
                  onClick(picker) {
                      picker.$emit('pick', new Date());
                  }
              }, {
                  text: '昨天',
                  onClick(picker) {
                      const date = new Date();
                      date.setTime(date.getTime() - 3600 * 1000 * 24);
                      picker.$emit('pick', date);
                  }
              }, {
                  text: '一周前',
                  onClick(picker) {
                      const date = new Date();
                      date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                      picker.$emit('pick', date);
                  }
              }]
          },
      data:{//临床检查表
          master_name:'',//主人姓名
          name:'',//宠物姓名
          date:'',//日期
          num :'',//兽医号
          type: '',//种类
          gender :'', //性别
          age :'',//年龄
          no:'',//病历号
          weight:"",//体重
          temperature:'',//体温
          condition:'',//体况
          nine:'',//9/9
          consciousness:'',//意识水平
          behavior:'',//行为
          posture:'',//身体姿态
          ear_examination:'',//耳    检
          eye_examintion:'',//眼检
          nose:'',//鼻头
          mucosal:'',//黏膜颜色
          oral_cavity:'',//口腔
          coat:'',//皮肤被毛
          abdominal:'', //腹部触诊
          extremities:'', //四肢关节
          auscultation:[],// 听诊
          complaint:''//主诉

      },
        formLabelWidth: '120px',//弹窗宽度
        active: 2,//所处状态
        LabelWidth:'10px'
      }
    }
}
</script>
<style lang='css'>
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .dialog-title{
    text-align: center
  }
</style>
 

