<template>
  <div class="header">
    <a href="#" class="title">
      <img class="logo" src="/img/logo.png" width="40px">
      <span class="company">养宠人商家后台</span>
    </a>

    <el-dropdown  placement="top-start">
      <span class="el-dropdown-link">
        admin<i class="el-icon-arrow-down ek-icon-right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="b">退出系统</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
name:'header',
  methods: {
   
  }
}
</script>

<style scoped>
.title{
  float: left;
}
.logo{
  vertical-align: middle;
  padding: 0 10px 0 40px;
  
}
.company{
  position: absolute;
  color: grey;
  font-size: 20px;
}
.el-dropdown{
  float: right;
  margin-right: 40px;
  font-size: 15px;
  height: 30px;
}
.el-dropdown-link{
  cursor: pointer;
  color: black;
}
</style>