<template>
  <div>
    <Header />
    <Aside />
    <Main />
  </div>
</template>

<script>
import Header from "./Header";
import Aside from "./Aside";
import Main from "./Main";

export default {
  components: {
    Header,
    Aside,
    Main
  }
};
</script>

<style scoped>
.header {
  position: fixed;
  line-height: 60px;
  padding: 0px;
  width: 100%;
  top:0;
  background-color:#F7F7F7;
}
/* 左侧导航栏 */
.aside {
  position: absolute;
  width: 230px;
  top: 60px;
  left: 0px;
  bottom: 0px;
  overflow-y: auto;
  background-color: #545c64;
}
/* 右侧主区域 */
.main {
  position: absolute;
  top: 60px;
  left: 230px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  overflow-y: auto;
}
 
</style>
